.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#home, #settings {
    color: white;
    transition: all 240ms;
}

#home:hover, #settings:hover {
    font-size: 35px;
    transition: all 240ms;
    cursor:pointer;
}

#home:active, #settings:active {
    font-size: 31px;
    color: #f1cc86;
    transition: all 50ms;
}